
<launch>

    <node name="flipper_mid_taxels_viz" pkg="m3skin_viz"
        type="m3skin_viz" output='screen' ns='fabric_flipper_mid_sensor'>
    </node>

    <node name="flipper_tip_taxels_viz" pkg="m3skin_viz"
        type="m3skin_viz" output='screen' ns='fabric_flipper_tip_sensor'>
    </node>

    <node name="flipper_connector_taxels_viz" pkg="m3skin_viz"
        type="m3skin_viz" output='screen' ns='fabric_flipper_connector_sensor'>
    </node>

</launch>

