<launch>

    <!-- must specify on command line r or l -->
    <arg name="arm_to_use"/>

    <!-- slope for the calibration line -->
    <arg name="gripper_slope" default="20." />
    <arg name="forearm_slope" default="30." />
    <arg name="upperarm_slope" default="30." />
    <arg name="fingertip_slope" default="-300." />

    <!-- force magnitude to ignore -->
    <arg name="gripper_threshold" default="1." />
    <arg name="forearm_threshold" default="1." />
    <arg name="upperarm_threshold" default="1." />
    <arg name="fingertip_threshold" default="1." />

    <node name="fingertip_taxels_driver" pkg="hrl_fabric_based_tactile_sensor"
        type="pr2_tactile_sleeve_pps_driver_node.py" output='screen'
        args='--arm_to_use=$(arg arm_to_use)' >
    </node>

    <node name="fingertip_left_taxels_calibration" pkg="hrl_fabric_based_tactile_sensor"
        type="fabric_skin_calibration_node.py" output='screen'
        ns='pr2_pps_left_sensor'
        args='--slope=$(arg fingertip_slope) --miv=$(arg fingertip_threshold)' >
    </node>

    <node name="fingertip_right_taxels_calibration" pkg="hrl_fabric_based_tactile_sensor"
        type="fabric_skin_calibration_node.py" output='screen'
        ns='pr2_pps_right_sensor'
        args='--slope=$(arg fingertip_slope) --miv=$(arg fingertip_threshold)' >
    </node>

    <node name="fingertip_left_taxels_viz" pkg="m3skin_viz"
        type="m3skin_viz" output='screen' ns='pr2_pps_left_sensor'>
    </node>

    <node name="fingertip_right_taxels_viz" pkg="m3skin_viz"
        type="m3skin_viz" output='screen' ns='pr2_pps_right_sensor'>
    </node>

</launch>


