
<launch>
    <include file="$(find cody)/cody.machine" />

    <node machine="colossus3" name='cody_torso_trackable' pkg="ros_vrpn_client" type="ros_vrpn_client"
        output="log" respawn="false">
        <param name="vrpn_server_ip" value="192.168.2.110" />
    </node>

    <node name="torso_trackable_static_tf_broadcaster" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 1 cody_torso_trackable torso_lift_link 50"
        respawn="false" output="screen"/>

    <node name="world_static_tf_broadcaster" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 1 world optitrak 50"
        respawn="false" output="screen"/>

    <node machine="colossus3" name='fixed_obstacle_trackable' pkg="ros_vrpn_client" type="ros_vrpn_client"
        output="log" respawn="false">
        <param name="vrpn_server_ip" value="192.168.2.110" />
    </node>

</launch>

