<launch>
    <node pkg="force_torque" name="ft1" type="force_torque_relay" args="--name=ft1" respawn="true"/>
    <node pkg="force_torque" name="ft1_poller" type="force_torque_poller" args="--name=ft1 --path=/dev/robot/force_torque1" respawn="true"/>

    <node name="static_tf_ft1_broadcaster" pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0.25881905 0.96592583 world force_torque_ft1 50"
        respawn="false" output="screen"/>
</launch>

