
<launch>

    <!-- force torque sensors -->
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft1.launch" />
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft2.launch" />
    <!--
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft3.launch" />
    -->
    <!--
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft4.launch" />
    -->
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft5.launch" />
    <!--
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft6.launch" />
    -->
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft7.launch" />
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft8.launch" />
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft9.launch" />
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft10.launch" />
    <include file="$(find hrl_hardware_in_loop_simulation_darpa_m3)/launch/ft11.launch" />

    <!-- motion tracking (optitrak) -->
    <include file="$(find hrl_common_code_darpa_m3)/launch/optitrak.launch" />

    <!-- visualization -->
    <node name="skin_visualizer" pkg="hrl_common_code_darpa_m3"
        type="viz.py" output="screen" respawn="true">
    </node>

</launch>


