
<launch>
    <arg name="forearm_slope" default="30." />
    <arg name="wrist_slope" default="30." />

    <node name="forearm_taxels_driver" pkg="hrl_fabric_based_tactile_sensor"
        type="darci_tactile_sleeve_driver_node.py" output='screen'
        ns='fabric_forearm_sensor'
        args='--serial_dev=/dev/robot/arduino2 --forearm'
        >
    </node>

    <node name="forearm_taxels_calibration" pkg="hrl_fabric_based_tactile_sensor"
        type="darci_skin_calibration_node.py" output='screen'
        args='--slope=$(arg forearm_slope)' ns='fabric_forearm_sensor' >
    </node>

    <node name="wrist_taxels_driver" pkg="hrl_fabric_based_tactile_sensor"
        type="darci_tactile_sleeve_driver_node.py" output='screen'
        ns='fabric_wrist_sensor'
        args='--serial_dev=/dev/robot/arduino1 --wrist'
        >
    </node>

    <node name="wrist_taxels_calibration" pkg="hrl_fabric_based_tactile_sensor"
        type="darci_skin_calibration_node.py" output='screen'
        args='--slope=$(arg wrist_slope)' ns='fabric_wrist_sensor' >
    </node>

    <include file='$(find hrl_dynamic_mpc)/launch/darci_tactile_sleeve_viz.launch' />

</launch>

