<launch>

  <arg name="arm"/>
  <arg name="verbose" default="" />

  <rosparam command="load" file="$(find hrl_haptic_mpc)/mpc_params_darci_sim.yaml" />
  <rosparam command="load" file="$(find hrl_haptic_mpc)/darci_sim_config_params.yaml" />

  <node name="mpc_teleop" pkg="hrl_haptic_mpc" type="mpc_teleop_rviz.py" args="-r darci_sim -a $(arg arm)" output="screen"/>
  <node name="waypoint_generator" pkg="hrl_haptic_mpc" type="waypoint_generator.py" args="-r darci_sim -s fabric -a $(arg arm)" output="screen"/>
  <node name="robot_haptic_state" pkg="hrl_haptic_mpc" type="robot_haptic_state_node.py" args="-r darci_sim -s fabric -a $(arg arm)" output="screen"/>
  <node name="haptic_mpc" pkg="hrl_haptic_mpc" type="haptic_mpc.py" args="-r darci_sim -a $(arg arm) $(arg verbose)" output="screen"/>

</launch>
