<launch>
  <rosparam command="load" file="$(find hrl_haptic_mpc)/params/mpc_params_sim3.yaml" />
  <rosparam command="load" file="$(find hrl_haptic_mpc)/params/sim3_config_params.yaml" />

  <node name="mpc_teleop" pkg="hrl_haptic_mpc" type="mpc_teleop_rviz" args="-r sim3 -a r" output="screen" />
  <node name="waypoint_generator" pkg="hrl_haptic_mpc" type="waypoint_generator" args="-r sim3 -s sim -a r" output="screen" />
  <node name="robot_haptic_state" pkg="hrl_haptic_mpc" type="robot_haptic_state_node" args="-r sim3 -s sim -a r" output="screen" />
  <node name="haptic_mpc" pkg="hrl_haptic_mpc" type="haptic_mpc" args="-r sim3" output="screen" />
  <!-- <node name="haptic_mpc_monitor" pkg="hrl_haptic_mpc" type="haptic_mpc_monitor.py"/> -->
  <!-- <node name="haptic_mpc_logger" pkg="hrl_haptic_mpc" type="haptic_mpc_logger.py"/> -->


</launch>
